*{
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
  }
  body{    
      font-family: 'Roboto Condensed', sans-serif;     
      
  }
  body {
    padding: 0;
    margin: 0;
    /* background-image: url(bg-01.jpg); */
    background-image: url("images/bg8.gif");
    background-color: rgb(0, 0, 0);
      background-size: 100% 625px;
      background-position: 0px 150px;
      background-repeat: no-repeat;
      transition: all 1s linear;
  }
  body.gfg3{
    background-image: url("images/login_gif.gif");
    background-repeat: no-repeat;
    background-size: 1536px 1000px;
    padding: 0;
    margin:0;
    /* width: 100%;
    height: 800px; */
    background-position: 0px 0px;
  
  }
  body.gfg2{
    background-image: url("images/signin_gif.gif");
    background-repeat: no-repeat;
    background-size: 2700px 1350px;
    /* width: 100%;
    height: 800px; */
    background-position: -500px 00px;
    transition: all ease-in-out 100ms;
  
  }
  body.gfg4{
    background-image: url("images/signin_gif.gif");
    background-repeat: no-repeat;
    background-size: 2500px 1150px;
    /* width: 100%;
    height: 800px; */
    background-position: -500px 00px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
  }
  
  
  /* _-_-_-_-__ morphing navigation styling __-_-_-_-_ */
  
  #header {
    width: 100vw;
    height: 80vh;   
    /* background-size: cover; */
    position: relative;
  }
  
  .navigation {
    width: 90px;
    height: 300px;
    display: block;
    padding-right: 40px;
    position: absolute;
    top: 50;
    left: 0;
    /* background-image: url("/visualizer/images/visualizer\ gif.gif");
    background-repeat: no-repeat;
    background-size:400px 600px;
    background-blend-mode:difference; */
    background-color: #ffffffdd;
    /* mix-blend-mode: difference; */
    background-position: -30px -150px;
    border-radius: 180px 500px 400% 150px;   
    perspective: 800;   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  }
  
  .logo {
    width: 70px;
    height: 70px;
    display: block;
    position: absolute;
    top: 80%;
    left: 15%; 
    cursor: pointer;  
    transform-style: preserve-3d;   
    transform: rotateY(-360deg);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  }
  
  .navigation__icon {
    width: 55px;
    height: 44px;
    display: block;
    position: relative;
    top: 12%;
    left: 35%;
    background: hsla(312, 51%, 41%, 0.0);
    cursor: pointer;  
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  }
  
  .navigation__icon .topBar {
    width: 55px;
    height: 2px;
    display: block;
    /* background: #f7082d; */
    background-image: url("images/visualizer\ gif.gif");
    background-size: contain;
    position: absolute;
    top: 10px;   
    transform: rotate(0);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  }
  
  .navigation__icon .middleBar {
    width: 55px;
    height: 2px;
    display: block;
    background-image: url("images/visualizer\ gif.gif");
    background-size: cover;
    position: absolute;
    top: 20px;   
    transform: rotate(0);
     transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  }
  
  .navigation__icon .bottomBar {
    width: 35px;
    height: 2px;
    display: block;
    background-image: url("images/visualizer\ gif.gif");
    background-size: contain;
    position: absolute;
    top: 30px;   
    transform: rotate(0);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  }
  
  .navigation .navigation__ul {
    float: right;
    margin-top: 100px;
    opacity: 0;
    visibility: hidden;  
    transform: rotateY(-90deg) translateX(-300px);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  }
  
  .navigation .navigation__ul li {
    list-style: none;
    text-align: right;
    height: fit-content;
  }
  
  .navigation .navigation__ul a {
    display: inline-block;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    margin-top: 0px;
    height: fit-content;
  
  }
  
  
  .navigation .navigation__ul a:hover {
    background-image: url("images/visualizer\ gif.gif");
      /* transform: rotate(45deg); */
      -webkit-background-clip:text;
      background-clip:none;
      -webkit-text-fill-color:rgba(255, 38, 0, 0.6);
      background-size: contain;
      mix-blend-mode:difference;
  }
  
  .navigation .navigation__social {
    width: 100%;
    height: 0px;
    padding-right: 45px;
    position: absolute;
    bottom: 0%;
  }
  
  .navigation .navigation__social-ul {
    float: right;
    list-style: none;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;   
    transform: rotateY(-90deg) translateX(-300px);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  }
  
  .navigation .navigation__social-ul li {
    display: inline-block;
    opacity: 0;
    visibility: hidden;   
    transform: translateY(35px);   
    transition: all 800ms cubic-bezier(.9, 0, .33, 1);
  }
  
  .navigation .social-icon {
    width: 30px;
    height: 30px;
    display: block;   
    margin-left: 15px;
  }
  
   
  .navigation-open {
    width: 250px;
    height: 65%;
    display: block;
    background: #FFF;
    position: absolute;
    left: 0;
    border-radius: 30px 50% 70% 20px;
  }
  
  .navigation-open .logo {
    left: 68%;   
    transform: rotateY(0);
  }
  
  .navigation-open .navigation__icon {
    left: 80%;
  }
  
  .navigation-open .navigation__ul {
    opacity: 1;
    visibility: visible;
  }
  
  .navigation-open .navigation__social-ul {
    opacity: 1;
    visibility: visible;
  }
  
  .navigation-open .topBar {
    top: 21px;   
    transform: rotate(45deg);
  }
  
  .navigation-open .middleBar {
    width: 0;
    top: 22px;
    opacity: 0;
    visibility: hidden; 
    transform: translateX(30px);
  }
  
  .navigation-open .bottomBar {
    width: 55px;
    top: 21px;   
    transform: rotate(-45deg);
  }
  
  .navigation-open .navigation__ul {   
    transform: rotateY(0) translateX(-35px);
  }
  
  
  .navigation-open .navigation__social-ul {   
    transform: rotateY(0) translateX(0);
  }
  
  .navigation-open .navigation__social-ul li {
    opacity: 1;
    visibility: visible;   
    transform: translateY(0px);
  }
  
  .navigation-open .navigation__social-ul li:nth-child(1) {   
    transition-delay: .5s;
  }
  
  .navigation-open .navigation__social-ul li:nth-child(2) {   
    transition-delay: .46s;
  }
  
  .navigation-open .navigation__social-ul li:nth-child(3) {   
    transition-delay: .43s;
  }
  
  .navigation-open .navigation__social-ul li:nth-child(4) {   
    transition-delay: .4s;
  }
  .v{
      position: relative;
      top:-250px;
      left:150px;
      color: aliceblue;
      font-size: 180px;
      font-weight: bold;
      font-family: 'Archivo Black', sans-serif;
      height: 100%;
      width: 1300px;
      background-image: url("images/visualizer\ gif.gif");
      /* transform: rotate(45deg); */
      background-size:cover ;
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
      background-position: -100px -120px;
      background-repeat: no-repeat; 
      background-size: 1400px 400px;
      display: inline-block;  
      z-index: -1;
      mix-blend-mode:difference;
      transition: 1.3s;
    
  }
  .navigation-open .v{
      position: relative;
      top:-300px;
      left:300px;
      font-size: 140px;
      width: 1100px;
      mix-blend-mode: difference;
  }
  .navigation-open.the{
    opacity: 0;
    visibility: hidden;
    color: black;
    background-color: black;
  
  }
  .log{
    border: 2px solid black;
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    width: 50px;
    height: 30px;
    text-align: center;
    margin-left: 00px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 12px;
    color: rgb(0, 0, 0);
    background-color: rgba(72, 72, 72, 0.212);
  }
  .log:hover{
    background-color: #fff;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
  }
  .sign{
    border: 2px solid rgb(255, 255, 255);
    padding-left: 0px;
    padding-right: 0px;
    display: inline-block;
    width: 60px;
    height: 30px;
    text-align: center;
    /* margin-left: 00px; */
    margin-top: 10px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.286);
    font-size: 12px;
    color: white;
  }
  .sign:hover{
      cursor: pointer;
      color: #000000;
      background-color: #fff;
  }
  
  
  
  .box-front a{
          visibility: hidden;
          opacity: 0;
        }
        .box-back a{
          visibility: hidden;
          opacity: 0;
        }
        .box-front{
          visibility: hidden;
          opacity: 0;
          display: none;
        }
        .box-inner{
          visibility: hidden;
          opacity: 0;
          display: none;
        }
        .box{
          visibility: hidden;
          opacity: 0;
          display: none;
        }
  
  
  .gfg3.box {
          background-color: transparent;
          width: 450px;
          height: 350px;
          perspective: 1000px;
          visibility: visible;
          opacity: 0.5;
          mix-blend-mode:difference;
          filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.87));
          border-radius: 20px;
          position: relative;
          top: 100px;
          margin-left: auto;
          margin-right: auto;
          display:block;
          transform: rotateY(360deg);
          transition: all 1s;
        }
        .gfg3.box-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          display:block;
          border-radius: 20px;
          /* mix-blend-mode:difference; */
          filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.87));
          transition: all 1s;
          transform-style: preserve-3d;
          visibility: visible;
          opacity: 0.8;
        }
        /* .gfg3.box:hover .box-inner {
          transform: rotateY(180deg);
        } */
        .gfg3.box-back {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          backface-visibility: hidden;
        }
        .gfg3.box-front {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          display:block;
          backface-visibility: hidden;
          visibility: visible;
          opacity: 1
        }
        .gfg3.box-front {
          background-color: #cccccc;
          color: #111111;
        }
        .gfg3.box-back {
          background-color: #8ebf42;
          color: #eeeeee;
          transform: rotateY(180deg);
        }
        .gfg3.box-front a{
          visibility: visible;
          opacity: 1;
        }
        .gfg3.box-back a{
          visibility: visible;
        }
  
  
  
        .gfg4.box {
          background-color: transparent;
          width: 450px;
          height: 650px;
          perspective: 1000px;
          visibility: visible;
          opacity: 1;
          mix-blend-mode: normal;
          filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.87));
          border-radius: 20px;
          position: relative;
          top: 100px;
          margin-left: auto;
          margin-right: auto;
          display:block;
          transform: rotateY(360deg);
          transition: all 1s;
        }
        .gfg4.box-inner {
          position: relative;
          width: 100%;
          height: 420px;
          text-align: center;
          display:block;
          border-radius: 20px;
          filter: drop-shadow(0px 0px 20px rgba(235, 227, 227, 0.87));
          transition: transform 0.5s;
          transform-style: preserve-3d;
          visibility: visible;
          opacity: 0.9;
        }
        .gfg4.box-inner {
          transform: rotateY(180deg);
        }
        .gfg4.box-back {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          backface-visibility: visible;
        }
        .gfg4.box-front {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 20px;
          display:block;
          backface-visibility: visible;
          visibility: hidden;
          opacity: 0;
        }
        .gfg4.box-front {
          background-color: #cccccc;
          color: #111111;
          visibility: hidden;
        }
        .gfg4.box-back {
          background-color: #0c0b0be9;
          color: #ffffff;
          opacity: 1;
          transform: rotateY(180deg);
          visibility: visible;
        }
        .gfg4.box-front a{
          visibility: hidden;
          opacity: 0;
        }
        .gfg4.box-back a{
          visibility: visible;
          opacity: 1;
        }
  
  
        .sign2{
          position: absolute;
          bottom: 10px;
          left: 30px;
          border: 2px solid black;
          border-radius: 20px;
          font-size: 12px;
          height: 25px;
          width: 65px;
          padding-top: 3px;
          text-decoration: none;
          color: #000000;
          background-color: #ffffff;
          mix-blend-mode:color-burn;
  
        }
        .sign2:hover{
          color: #eeeeee;
          background-color: #111111;
        }
        .log2{
          position: absolute;
          bottom: 10px;
          left: 30px;
          border: 2px solid rgb(255, 255, 255);
          border-radius: 20px;
          font-size: smaller;
          height: 25px;
          width: 55px;
          padding-top: 3px;
          text-decoration: none;
          color: #e6dcdc;
          background-color: #000000;
          mix-blend-mode:difference;
        }
        .log2:hover{
          color: #000000;
          background-color: rgb(255, 255, 255);
          border: 2px solid rgb(0, 0, 0);

          mix-blend-mode:normal;
        }
  
  
         .the{
          height: 50px;
          width: 50px;
          margin: 0;
          padding: 0;
          position: relative;
          top:100px;
          left:45%;
  
        }
        .i{
          background-image: url("images/visualizer\ gif.gif");
          background-size:contain ;
          -webkit-background-clip:text;
          -webkit-text-fill-color: transparent;
          display: inline-block;
        }
        .the{
          margin: 0;
          padding:0;
          background-image: url("images/THE_visualizerpng.png");
          background-size: 200px 200px;
          background-position: -55px -65px;
          position: relative;
          top:80px;
          width: 200px;
          background-repeat: no-repeat;
          transform: translateY(100px);
          transition: all 1s;
          
        }
        #names{
          mix-blend-mode: difference;
          display: inline-block;
          width: 200px;
          height: 70px;
          padding: 0px;
          margin: 0px;
          background-image: url("images/piyush_sokhipng.png");
          background-size: 150px 180px;
          background-position: center;
          position: relative;
          bottom:00px;
          transform: translate(670px, 640px);
          background-repeat: no-repeat;
        } 
        #username {
          border-radius: 30px;
          height: 30px;
          width: 200px;
          margin: 10px;
          margin-top: 40px;
          padding:0px 60px 0px 60px ;
  
        }
        #password{
          border-radius: 30px;
          height: 30px;
          width: 200px;
          margin: 20px;
          padding:0px 60px 0px 60px ;
        }
        #username2 {
          border-radius: 30px;
          height: 30px;
          width: 250px;
          margin: 5px;
          padding:0px 60px 0px 60px ;
          text-align: center;
          margin-top: 0px;
          background-color: #000000;
          color: #fff;
  
        }
        #password2{
          border-radius: 30px;
          height: 30px;
          width: 250px;
          margin: 5px;
          padding:0px 60px 0px 60px ;
          text-align: center;
          margin-top: 0px;
          background-color: #000000;
          color: #fff;
        }
        #mail{
          border-radius: 30px;
          height: 30px;
          width: 320px;
          margin: 5px;
          padding:0px 60px 0px 60px ;
          text-align: center;
          margin-top: 0px;
          background-color: #000000;
          color: #fff;
        }
        #inp{
          margin: 2px;
          text-align: center;
          font-size: smaller;
  
        }
        #f1{
          border-radius: 50px;
          margin: 20px;
          margin-bottom: 5px;
        }
        #f2{
          border-radius: 50px;
          margin: 5px;
          padding: 5px;
        }
        #l{
          border-radius: 50px;
          margin: 0px;
          color: rgb(255, 255, 255);
          background-color: rgb(0, 0, 0);
          font-size: smaller;
          height: 50px;
          width: 80px;
          cursor: pointer;
  
        }
        #l:hover{
          background-color: rgb(56, 155, 240);
        }
        #sub{
          margin-top: 5px;
  
        }
        .vlogo{
          /* background-image: url("visualizer/images/v..png"); */
          background-size: cover;
          position: absolute;
          top: 30;
          left:680px;
          height: 200px;
          width: 200px;
          background-repeat: no-repeat;
          display: none;
          opacity: 0;
          visibility: hidden;
          transition: all 2s ;
        }
        .gfg3.vlogo{
          display:inline-block;
          opacity: 1;
          visibility:visible;
          transition: all 2s;
  
        }